openapi: 3.1.0
info:
  title: Powerful Control System Mobile API
  version: 1.0.0
  description: API versionada aditiva para aplicaciones Android y iPhone. Todas las respuestas usan el sobre JSON ok/data/meta/error/request_id.
servers:
  - url: https://powerfulcontrolsystem.com
security:
  - bearerSession: []
paths:
  /api/v1/auth/mobile-session:
    post:
      summary: Crea una sesion dedicada para el dispositivo desde una sesion autenticada existente.
      security:
        - cookieSession: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                device_name: {type: string, maxLength: 80}
      responses:
        '201': {description: Token Bearer entregado una sola vez}
        '401': {$ref: '#/components/responses/Error'}
  /api/v1/me:
    get:
      summary: Identidad autenticada del cliente movil.
      responses:
        '200': {description: Identidad de la cuenta}
        '401': {$ref: '#/components/responses/Error'}
  /api/v1/empresa/productos:
    get:
      summary: Lista paginada del catalogo de productos de una empresa autorizada.
      parameters:
        - {$ref: '#/components/parameters/EmpresaID'}
        - {$ref: '#/components/parameters/Limit'}
        - {$ref: '#/components/parameters/Offset'}
        - {name: q, in: query, schema: {type: string, maxLength: 200}}
        - {name: fields, in: query, schema: {type: string}, description: Lista permitida de campos separados por coma.}
      responses:
        '200': {description: Productos paginados}
        '401': {$ref: '#/components/responses/Error'}
        '403': {$ref: '#/components/responses/Error'}
  /api/v1/empresa/clientes:
    get:
      summary: Lista paginada de clientes de una empresa autorizada.
      parameters:
        - {$ref: '#/components/parameters/EmpresaID'}
        - {$ref: '#/components/parameters/Limit'}
        - {$ref: '#/components/parameters/Offset'}
        - {name: q, in: query, schema: {type: string, maxLength: 200}}
        - {name: include_inactive, in: query, schema: {type: boolean}}
        - {name: fields, in: query, schema: {type: string}, description: Lista permitida de campos separados por coma.}
      responses:
        '200': {description: Clientes paginados}
        '401': {$ref: '#/components/responses/Error'}
        '403': {$ref: '#/components/responses/Error'}
components:
  securitySchemes:
    bearerSession:
      type: http
      scheme: bearer
      bearerFormat: PCS mobile session
    cookieSession:
      type: apiKey
      in: cookie
      name: session_token
  parameters:
    EmpresaID:
      name: empresa_id
      in: query
      required: true
      schema: {type: integer, format: int64, minimum: 1}
    Limit:
      name: limit
      in: query
      schema: {type: integer, minimum: 1, maximum: 100, default: 50}
    Offset:
      name: offset
      in: query
      schema: {type: integer, minimum: 0, default: 0}
  responses:
    Error:
      description: Error JSON uniforme sin detalles internos.
