openapi: 3.0.3
info:
  title: Powerful Control System API
  version: "generated"
  description: Inventario automatico de rutas registradas en backend/main.go. Completar contratos detallados por modulo en documentos/gobernanza_tecnica/contratos.
servers:
  - url: https://powerfulcontrolsystem.com
  - url: https://staging.powerfulcontrolsystem.com
paths:
  "/":
    get:
      tags: [publico]
      summary: Ruta inventariada /
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/accept/complete":
    get:
      tags: [publico]
      summary: Ruta inventariada /accept/complete
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /accept/complete
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/account":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/account
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/account
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/account/change_password":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/account/change_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/account/change_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/account/set_google_password":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/account/set_google_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/account/set_google_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/account/update_profile":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/account/update_profile
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/account/update_profile
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/asesor_comercial/aceptar":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/asesor_comercial/aceptar
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/asesor_comercial/aceptar
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/asesor_comercial/mis_clientes":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/asesor_comercial/mis_clientes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/asesor_comercial/mis_clientes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/chat_flotante/preferencias":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/chat_flotante/preferencias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/chat_flotante/preferencias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/activos_fijos_niif_fiscal":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/activos_fijos_niif_fiscal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/activos_fijos_niif_fiscal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/aiu_construccion":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/aiu_construccion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/aiu_construccion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/alquileres":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/alquileres
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/alquileres
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/apartamentos_turisticos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/apartamentos_turisticos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/apartamentos_turisticos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/asistencia_empleados":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/asistencia_empleados
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/asistencia_empleados
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/auditoria/eventos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/auditoria/eventos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/auditoria/eventos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/backups":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/backups
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/backups
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/bancos_pagos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/bancos_pagos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/bancos_pagos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/bodegas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/bodegas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/bodegas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/bolsa":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/bolsa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/bolsa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/buzon":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/buzon
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/buzon
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/calculadora":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/calculadora
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/calculadora
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/calidad_procesos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/calidad_procesos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/calidad_procesos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/camaras":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/camaras
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/camaras
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/carnets":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/carnets
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/carnets
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/carritos_compra":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/carritos_compra
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/carritos_compra
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/carritos_compra/historial_productos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/carritos_compra/historial_productos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/carritos_compra/historial_productos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/carritos_compra/items":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/carritos_compra/items
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/carritos_compra/items
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/categorias_productos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/categorias_productos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/categorias_productos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/centros_costo":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/centros_costo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/centros_costo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/chat_tareas/citas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/citas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/citas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/chat_tareas/conversaciones":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/conversaciones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/conversaciones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/chat_tareas/mensajes":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/mensajes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/mensajes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/chat_tareas/mensajes/adjunto":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/mensajes/adjunto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/mensajes/adjunto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/chat_tareas/papelera":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/papelera
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/papelera
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/chat_tareas/participantes":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/participantes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/participantes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/chat_tareas/tareas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/tareas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/tareas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/chat_tareas/tareas/nota_voz":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/tareas/nota_voz
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/chat_tareas/tareas/nota_voz
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/cierre_fiscal":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/cierre_fiscal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/cierre_fiscal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/clientes":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/clientes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/clientes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/cobranza":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/cobranza
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/cobranza
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/codigos_de_descuento":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/codigos_de_descuento
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/codigos_de_descuento
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/comisiones":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/comisiones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/comisiones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/compras_avanzadas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras_avanzadas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras_avanzadas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/compras/documentos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras/documentos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras/documentos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/compras/documentos/comprobante":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras/documentos/comprobante
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras/documentos/comprobante
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/compras/plan_reposicion/actualizar_estado":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras/plan_reposicion/actualizar_estado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras/plan_reposicion/actualizar_estado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/compras/plan_reposicion/emitir_orden":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras/plan_reposicion/emitir_orden
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/compras/plan_reposicion/emitir_orden
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/configuracion_avanzada":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_avanzada
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_avanzada
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/configuracion_avanzada/logo":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_avanzada/logo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_avanzada/logo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/configuracion_general":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_general
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_general
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/configuracion_guiada":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_guiada
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_guiada
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/configuracion_operativa":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_operativa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/configuracion_operativa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/contabilidad_colombia":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/contabilidad_colombia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/contabilidad_colombia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/contabilidad_colombia_avanzada":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/contabilidad_colombia_avanzada
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/contabilidad_colombia_avanzada
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/contratos_obligaciones":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/contratos_obligaciones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/contratos_obligaciones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/control_electrico":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/control_electrico
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/control_electrico
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/corte_caja":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/corte_caja
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/corte_caja
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/corte_caja/configuracion":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/corte_caja/configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/corte_caja/configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/creditos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/creditos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/creditos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/crm_avanzado":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/crm_avanzado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/crm_avanzado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/cumplimiento_kyc":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/cumplimiento_kyc
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/cumplimiento_kyc
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/datafonos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/datafonos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/datafonos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/db_admin":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/db_admin
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/db_admin
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/declaraciones_tributarias":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/declaraciones_tributarias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/declaraciones_tributarias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/documentos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/documentos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/documentos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/domicilios":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/domicilios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/domicilios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/drogueria_farmacia":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/drogueria_farmacia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/drogueria_farmacia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/email_corporativo":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/email_corporativo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/email_corporativo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/energia_solar":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/energia_solar
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/energia_solar
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/estacion_aseo":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/estacion_aseo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/estacion_aseo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/estacion_prefs":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/estacion_prefs
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/estacion_prefs
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/facturacion_electronica":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/facturacion_electronica/ecuador":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica/ecuador
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica/ecuador
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/facturacion_electronica/pais_detectado":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica/pais_detectado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica/pais_detectado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/facturacion_electronica/paises_disponibles":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica/paises_disponibles
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica/paises_disponibles
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/facturacion_electronica/panama":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica/panama
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/facturacion_electronica/panama
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/finanzas/asientos_contables":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/asientos_contables
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/asientos_contables
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/finanzas/breb_qr":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/breb_qr
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/breb_qr
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/finanzas/cierres_caja":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/cierres_caja
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/cierres_caja
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/finanzas/configuracion":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/finanzas/movimientos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/movimientos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/movimientos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/finanzas/movimientos/comprobante":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/movimientos/comprobante
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/movimientos/comprobante
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/finanzas/periodos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/periodos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/periodos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/finanzas/renta_ia":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/renta_ia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/finanzas/renta_ia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/frecuencia_fp/permitido":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/frecuencia_fp/permitido
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/frecuencia_fp/permitido
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/gestion_documental":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/gestion_documental
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/gestion_documental
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/gimnasio":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/gimnasio
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/gimnasio
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/grafologia":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/grafologia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/grafologia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/hoja_vida_operativa":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/hoja_vida_operativa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/hoja_vida_operativa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/horarios_trabajadores":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/horarios_trabajadores
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/horarios_trabajadores
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/hotel_tarjetas_acceso":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/hotel_tarjetas_acceso
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/hotel_tarjetas_acceso
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/ia_empresarial":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/ia_empresarial
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/ia_empresarial
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/importaciones_costeo":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/importaciones_costeo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/importaciones_costeo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/impresoras":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impresoras
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impresoras
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/impresoras/agente":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impresoras/agente
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impresoras/agente
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/impresoras/resolver":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impresoras/resolver
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impresoras/resolver
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/impuestos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impuestos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impuestos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/impuestos/agente_internet":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impuestos/agente_internet
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/impuestos/agente_internet
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario_avanzado":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario_avanzado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario_avanzado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/ajustar":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/ajustar
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/ajustar
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/alertas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/alertas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/alertas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/balance_bodegas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/balance_bodegas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/balance_bodegas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/cambiar_producto":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/cambiar_producto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/cambiar_producto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/configuracion":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/conteo_ciclico":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/conteo_ciclico
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/conteo_ciclico
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/existencias":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/existencias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/existencias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/movimientos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/movimientos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/movimientos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/plan_reposicion":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/plan_reposicion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/plan_reposicion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/plan_reposicion_borrador":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/plan_reposicion_borrador
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/plan_reposicion_borrador
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/plan_reposicion_resumen":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/plan_reposicion_resumen
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/plan_reposicion_resumen
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/proyeccion_quiebre":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/proyeccion_quiebre
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/proyeccion_quiebre
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/resumen":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/resumen
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/resumen
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/tendencia":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/tendencia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/tendencia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/inventario/transferir":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/transferir
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/inventario/transferir
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/licencia_sistema/pdf":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/licencia_sistema/pdf
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/licencia_sistema/pdf
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/logistica_wms":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/logistica_wms
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/logistica_wms
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/mantenimiento_programado":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/mantenimiento_programado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/mantenimiento_programado
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/mi_horario":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/mi_horario
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/mi_horario
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/nomina":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/nomina
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/nomina
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/nomina/agente_internet":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/nomina/agente_internet
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/nomina/agente_internet
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/noticias":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/noticias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/noticias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/odontologia":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/odontologia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/odontologia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/offline_ventas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/offline_ventas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/offline_ventas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/panel_configuracion":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/panel_configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/panel_configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/parqueadero":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/parqueadero
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/parqueadero
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/permisos_contexto":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/permisos_contexto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/permisos_contexto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/permisos_empresa":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/permisos_empresa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/permisos_empresa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/plantillas_integracion/catalogo":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/plantillas_integracion/catalogo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/plantillas_integracion/catalogo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/plantillas_nuevas/catalogo":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/plantillas_nuevas/catalogo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/plantillas_nuevas/catalogo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/portal_contador":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/portal_contador
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/portal_contador
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/portal_terceros_certificados":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/portal_terceros_certificados
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/portal_terceros_certificados
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/produccion_mrp":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/produccion_mrp
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/produccion_mrp
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/productos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/productos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/productos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/productos/imagen":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/productos/imagen
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/productos/imagen
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/productos/precios_historial":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/productos/precios_historial
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/productos/precios_historial
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/propiedad_horizontal":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/propiedad_horizontal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/propiedad_horizontal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/propinas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/propinas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/propinas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/proveedores":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/proveedores
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/proveedores
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/publicaciones":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/publicaciones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/publicaciones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/publicaciones/":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/publicaciones/
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/publicaciones/
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/rappi":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/rappi
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/rappi
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/recetas_productos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/recetas_productos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/recetas_productos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/reportes":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/reportes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/reportes
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/reportes_ia_chat":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/reportes_ia_chat
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/reportes_ia_chat
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/reservas_hotel":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/reservas_hotel
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/reservas_hotel
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/roles_de_usuario":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/roles_de_usuario
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/roles_de_usuario
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/sensor_puertas":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/sensor_puertas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/sensor_puertas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/sensor_puertas/messages":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/sensor_puertas/messages
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/sensor_puertas/messages
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/servicios":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/servicios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/servicios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/soporte_remoto":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/soporte_remoto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/soporte_remoto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/soportes_compras_ia":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/soportes_compras_ia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/soportes_compras_ia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/tarifas_motel":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tarifas_motel
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tarifas_motel
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/tarifas_por_dia":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tarifas_por_dia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tarifas_por_dia
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/tarifas_por_minutos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tarifas_por_minutos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tarifas_por_minutos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/taxi_system":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/taxi_system
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/taxi_system
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/tesoreria_presupuesto":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tesoreria_presupuesto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tesoreria_presupuesto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/tickets_ayuda":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tickets_ayuda
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/tickets_ayuda
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/turnos_atencion":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/turnos_atencion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/turnos_atencion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/ubicacion_gps/dispositivos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/ubicacion_gps/dispositivos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/ubicacion_gps/dispositivos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/ubicacion_gps/recorridos":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/ubicacion_gps/recorridos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/ubicacion_gps/recorridos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/usuarios":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/usuarios/cambiar_password":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/cambiar_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/cambiar_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/usuarios/establecer_password":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/establecer_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/establecer_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/usuarios/login":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/login
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/login
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/usuarios/recuperar_invitacion":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/recuperar_invitacion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/recuperar_invitacion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/usuarios/restablecer_password":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/restablecer_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/restablecer_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/usuarios/solicitar_recuperacion_password":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/solicitar_recuperacion_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/usuarios/solicitar_recuperacion_password
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/vehiculos_registro":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/vehiculos_registro
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/vehiculos_registro
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/empresa/venta_publica":
    get:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/venta_publica
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [empresa]
      summary: Ruta inventariada /api/empresa/venta_publica
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/internal/email_corporativo/autologin":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/internal/email_corporativo/autologin
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/internal/email_corporativo/autologin
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/onlyoffice/callback":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/onlyoffice/callback
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/onlyoffice/callback
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/onlyoffice/file":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/onlyoffice/file
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/onlyoffice/file
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/certificados_tributarios":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/certificados_tributarios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/certificados_tributarios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/chat_portal":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/chat_portal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/chat_portal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/chat_portal_stream":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/chat_portal_stream
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/chat_portal_stream
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/contrato":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/contrato
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/contrato
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/domicilios":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/domicilios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/domicilios
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/estacion_vip":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/estacion_vip
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/estacion_vip
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/geo":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/geo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/geo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/hotel_tarjetas_acceso":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/hotel_tarjetas_acceso
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/hotel_tarjetas_acceso
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/informacion_de_modulos":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/informacion_de_modulos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/informacion_de_modulos
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/juegos/records":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/juegos/records
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/juegos/records
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/licencias/checkout_summary":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/licencias/checkout_summary
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/licencias/checkout_summary
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/licencias/payment_methods":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/licencias/payment_methods
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/licencias/payment_methods
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/market_symbol":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/market_symbol
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/market_symbol
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/mensajes_privados":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/mensajes_privados
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/mensajes_privados
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/noticias":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/noticias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/noticias
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/pagina_principal":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/pagina_principal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/pagina_principal
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/parqueadero":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/parqueadero
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/parqueadero
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/plantillas_integracion/catalogo":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/plantillas_integracion/catalogo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/plantillas_integracion/catalogo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/plantillas_nuevas/catalogo":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/plantillas_nuevas/catalogo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/plantillas_nuevas/catalogo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/portal_visitas":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/portal_visitas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/portal_visitas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/publicaciones":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/publicaciones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/publicaciones
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/publicaciones/":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/publicaciones/
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/publicaciones/
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/rappi/webhook":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/rappi/webhook
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/rappi/webhook
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/sensor_puertas":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/sensor_puertas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/sensor_puertas
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/soporte_remoto":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/soporte_remoto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/soporte_remoto
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/taxi_system":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/taxi_system
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/taxi_system
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/turnos_atencion":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/turnos_atencion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/turnos_atencion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/venta_digital":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/venta_digital
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/venta_digital
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/venta_publica":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/venta_publica
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/venta_publica
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/public/webrtc/signaling":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/public/webrtc/signaling
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/public/webrtc/signaling
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/user/configuracion":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/user/configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/user/configuracion
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/voice_stream/status":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/voice_stream/status
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/voice_stream/status
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/api/voice_stream/tts":
    get:
      tags: [publico]
      summary: Ruta inventariada /api/voice_stream/tts
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /api/voice_stream/tts
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/auth/confirmar_admin":
    get:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/confirmar_admin
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/confirmar_admin
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/auth/confirmar_correo":
    get:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/confirmar_correo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/confirmar_correo
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/auth/google/callback":
    get:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/google/callback
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/google/callback
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/auth/google/login":
    get:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/google/login
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/google/login
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/auth/google/usuario/login":
    get:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/google/usuario/login
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/google/usuario/login
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/auth/logout":
    get:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/logout
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [autenticacion]
      summary: Ruta inventariada /auth/logout
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/config.js":
    get:
      tags: [publico]
      summary: Ruta inventariada /config.js
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /config.js
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/download":
    get:
      tags: [publico]
      summary: Ruta inventariada /download
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /download
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/epayco/create_transaction":
    get:
      tags: [publico]
      summary: Ruta inventariada /epayco/create_transaction
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /epayco/create_transaction
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/epayco/transaction_status":
    get:
      tags: [publico]
      summary: Ruta inventariada /epayco/transaction_status
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /epayco/transaction_status
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/epayco/webhook":
    get:
      tags: [publico]
      summary: Ruta inventariada /epayco/webhook
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /epayco/webhook
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/favicon.ico":
    get:
      tags: [publico]
      summary: Ruta inventariada /favicon.ico
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /favicon.ico
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/generate":
    get:
      tags: [publico]
      summary: Ruta inventariada /generate
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /generate
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/licencias/activar_sin_pago":
    get:
      tags: [publico]
      summary: Ruta inventariada /licencias/activar_sin_pago
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /licencias/activar_sin_pago
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/me":
    get:
      tags: [publico]
      summary: Ruta inventariada /me
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /me
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/pantalla":
    get:
      tags: [publico]
      summary: Ruta inventariada /pantalla
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [publico]
      summary: Ruta inventariada /pantalla
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/super/administradores":
    get:
      tags: [super-administrador]
      summary: Ruta inventariada /super/administradores
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [super-administrador]
      summary: Ruta inventariada /super/administradores
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/super/api/administradores":
    get:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/super/api/administradores_frecuencia_fe":
    get:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores_frecuencia_fe
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores_frecuencia_fe
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/super/api/administradores/2fa":
    get:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores/2fa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores/2fa
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/super/api/administradores/login":
    get:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores/login
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores/login
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/super/api/administradores/register":
    get:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores/register
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
    post:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores/register
      responses:
        "200":
          description: Respuesta exitosa o manejada por el handler real.
  "/super/api/administradores/restablecer_password":
    get:
      tags: [super-administrador]
      summary: Ruta inventariada /super/api/administradores/restablecer_password
[...]
