IREDMAIL_IMAGE=iredmail/mariadb:stable
IREDMAIL_HOSTNAME=mail.powerfulcontrolsystem.com
IREDMAIL_DOMAIN=powerfulcontrolsystem.com
IREDMAIL_TIMEZONE=America/Bogota
IREDMAIL_DATA_DIR=/opt/powerfulcontrolsystem/iredmail/data
IREDMAIL_BACKUP_DIR=/opt/powerfulcontrolsystem/iredmail/backups
IREDMAIL_ADMIN_EMAIL=postmaster@powerfulcontrolsystem.com
IREDMAIL_ADMIN_PASSWORD=change-me
IREDMAIL_MLMMJADMIN_API_TOKEN=change-me
IREDMAIL_ROUNDCUBE_DES_KEY=change-me
IREDMAIL_MYSQL_ROOT_PASSWORD=change-me
